Repository fortinjose916/buildtools-prereqs-dotnet: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-prereqs-alpine-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml

eng/pipelines/dotnet-buildtools-prereqs-alpine-pr.yml:

trigger: none
pr:
  branches:
    include:
    - main
    - production
  paths:
    include:
    - src/alpine/*

resources:
  repositories:
  - repository: PublicVersionsRepo
    type: github
    endpoint: public
    name: dotnet/versions

variables:
- template: variables/common.yml
- name: imageBuilder.pathArgs
  value: --path 'src/alpine/*'

stages:
- template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
  parameters:
    internalProjectName: ${{ variables.internalProjectName }}
    publicProjectName: ${{ variables.publicProjectName }}
    customCopyBaseImagesInitSteps:
    - template: ../../../pipelines/steps/set-base-image-override-options.yml
      parameters:
        variableName: customCopyBaseImagesArgs
        dockerfileOs: alpine
        baseOverrideRegistry: test

eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml:

trigger:
  branches:
    include:
    - main
    - production
  paths:
    include:
    - src/ubuntu/*
pr: none

resources:
  repositories:
  - repository: InternalVersionsRepo
    type: github
    endpoint: dotnet
    name: dotnet/versions

variables:
- template: variables/common.yml
- name: imageBuilder.pathArgs
  value: --path 'src/ubuntu/*'

stages:
- template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
  parameters:
    internalProjectName: ${{ variables.internalProjectName }}
    publicProjectName: ${{ variables.publicProjectName }}
    linuxAmdBuildJobTimeout: 360
    customBuildInitSteps:
    - template: /eng/pipelines/steps/install-cross-build-prereqs.yml
    - ${{ if eq(variables['System.TeamProject'], 'internal') }}:
      - template: ../../../pipelines/steps/set-base-image-override-options.yml
        parameters:
          variableName: customCopyBaseImagesArgs
          dockerfileOs: ubuntu
          baseOverrideRegistry: $(overrideRegistry) # Comes from DotNet-Docker-Common variable group

Undo testing changes + push fixes
  eng/pipelines/dotnet-buildtools-prereqs-alpine-pr.yml
  eng/pipelines/steps/set-base-image-override-options.yml
Due: none

Update yml to also set up image builder
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos.yml
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml
  eng/pipelines/steps/set-base-image-override-options.yml
Due: none

fix quotation marks
  eng/pipelines/steps/set-base-image-override-options.yml
Due: none

Actually, just set the variable
  eng/pipelines/steps/set-base-image-override-options.yml
  eng/pipelines/variables/common.yml
Due: none

They should be elsewhere
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos.yml
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml
  eng/pipelines/variables/common.yml
Due: none

ooooooookkkkkkkk
  eng/pipelines/variables/common.yml
Due: none

rearrange
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml
Due: none

and remove a dash
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml
Due: none

Screwed up the parameters
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml
Due: none

Change the example to not include an actual registry
  eng/pipelines/steps/set-base-image-override-options.yml
Due: none

Only use floating tag suffix for staging (#704)
  eng/pipelines/variables/common.yml
  src/alpine/manifest.json
  src/cbl-mariner/manifest.json
  src/centos/manifest.json
  src/debian/manifest.json
  src/fedora/manifest.json
  src/nanoserver/manifest.json
  src/opensuse/manifest.json
  src/raspbian/manifest.json
  src/ubuntu/manifest.json
  src/windowsservercore/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml

Update src/ubuntu/20.04/cross/armv6/10/Dockerfile
  src/ubuntu/20.04/cross/armv6/10/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml

Missed a few files
  src/centos/7/mlnet/Dockerfile
  src/ubuntu/22.04/mlnet/Dockerfile
  src/ubuntu/build-scripts/run-arcade-build-rootfs.sh
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml

update msquic to 2.1.2 on arm32
  src/debian/10/helix/arm32v7/Dockerfile
  src/debian/11/helix/arm32v7/Dockerfile
Due: none

Update Android SDK (#713)
  src/ubuntu/18.04/android/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml

Add powershell to base ubuntu 18:04
  src/ubuntu/18.04/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml

Remove repo specifier from arm dockerfiles and registry from fedora (#708)
  src/alpine/3.13/helix/arm32v7/Dockerfile
  src/alpine/3.13/helix/arm64v8/Dockerfile
  src/alpine/3.14/helix/arm32v7/Dockerfile
  src/alpine/3.14/helix/arm64v8/Dockerfile
  src/alpine/3.15/helix/arm32v7/Dockerfile
  src/alpine/3.15/helix/arm64v8/Dockerfile
  src/debian/10/docker-testrunner/arm64v8/Dockerfile
  src/debian/10/helix/arm32v7/Dockerfile
  src/debian/10/helix/arm64v8/Dockerfile
  src/debian/11/arm64v8/Dockerfile
  src/debian/11/helix/arm32v7/Dockerfile
  src/debian/11/helix/arm64v8/Dockerfile
  src/debian/11/opt/arm64v8/Dockerfile
  src/debian/9/arm32v7/Dockerfile
  src/debian/9/arm64v8/Dockerfile
  src/debian/9/helix/arm32v7/Dockerfile
  src/debian/9/helix/arm64v8/Dockerfile
  src/debian/iot/arm32v7/Dockerfile
  src/fedora/34/amd64/Dockerfile
  src/fedora/36/amd64/Dockerfile
  src/raspbian/10/crossdeps/Dockerfile
  src/ubuntu/18.04/arm32v7/Dockerfile
  src/ubuntu/18.04/arm64v8/Dockerfile
  src/ubuntu/18.04/helix/arm32v7/Dockerfile
  src/ubuntu/18.04/helix/arm64v8/Dockerfile
  src/ubuntu/18.04/mono/arm32v7/Dockerfile
  src/ubuntu/18.04/mono/arm64v8/Dockerfile
  src/ubuntu/22.04/helix/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml

General-purpose pipeline capable of building any path in the repo (#710)
  eng/pipelines/dotnet-buildtools-prereqs-all.yml
Due: none

[main] Update common Docker engineering infrastructure with latest (#712)
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/variables/docker-images.yml
Due: none

Remove end-of-life fedora images
  src/fedora/34/amd64/Dockerfile
  src/fedora/34/amd64/microsoft.asc
  src/fedora/34/helix/amd64/Dockerfile
  src/fedora/manifest.json
Due: none

Remove eol debian dockerfiles and update base images (#721)
  src/debian/11/amd64/Dockerfile
  src/debian/11/arm64v8/Dockerfile
  src/debian/11/iot/arm32v7/Dockerfile
  src/debian/9/amd64/Dockerfile
  src/debian/9/arm32v7/Dockerfile
  src/debian/9/arm64v8/Dockerfile
  src/debian/9/helix/arm32v7/Dockerfile
  src/debian/9/helix/arm64v8/Dockerfile
  src/debian/manifest.json
Due: none

[main] Update common Docker engineering infrastructure with latest (#723)
  eng/common/templates/variables/docker-images.yml
Due: none

Add 2nd user to all ARM images; Helix clients have different expected UIDs for Azure versus on-premises machines, this prepares for Azure Docker scenarios.
  src/alpine/3.13/helix/arm32v7/Dockerfile
  src/alpine/3.13/helix/arm64v8/Dockerfile
  src/alpine/3.14/helix/arm32v7/Dockerfile
  src/alpine/3.14/helix/arm64v8/Dockerfile
  src/alpine/3.15/helix/arm32v7/Dockerfile
  src/alpine/3.15/helix/arm64v8/Dockerfile
  src/debian/10/helix/arm32v7/Dockerfile
  src/debian/10/helix/arm64v8/Dockerfile
  src/debian/11/helix/arm32v7/Dockerfile
  src/debian/11/helix/arm64v8/Dockerfile
  src/raspbian/10/helix/arm32v6/Dockerfile
  src/ubuntu/18.04/helix/arm32v7/Dockerfile
  src/ubuntu/18.04/helix/arm64v8/Dockerfile
  src/ubuntu/22.04/helix/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml

Add rh-ruby binaries to path on centos-7-rpmpkg (#718)
  src/centos/7/rpmpkg/Dockerfile
  src/centos/7/rpmpkg/scl_enable
Due: none

Update libssl-dev to 1.1 on Ubuntu 18.04 (#728)
  src/ubuntu/18.04/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml

Add registry override to the -all pipeline.
  eng/pipelines/dotnet-buildtools-prereqs-all.yml
Due: none

needs extra parens
  eng/pipelines/dotnet-buildtools-prereqs-all.yml
Due: none

forgot it in the other place
  eng/pipelines/dotnet-buildtools-prereqs-all.yml
Due: none

Use all pipeline for production (#732)
  eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-all.yml
  eng/pipelines/dotnet-buildtools-prereqs-alpine-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos.yml
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml
  eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-mariner.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml
  eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml
  eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml
Due: none

Fix repo resource for "all" pipeline (#733)
  eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml
Due: none

Update pipeline timeouts (#735)
  eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-all.yml
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml
Due: none

Use powershell 7.2.5 on Alpine 3.15 helix container (#737)
  src/alpine/3.15/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine-pr.yml
